/* Challenge 8: Change the type of font to Arial for all elements */

/* Challenge 9: Change the background color for all elements with a class of banner.  Choose a color
                using rgb( )
*/
.banner{}
/* Challenge 10: Change the background color for all elements with a class of subbanner.  Choose a color
                using a hexdecimal value. 
*/
.banner{}
/* Challenge 11: Change the radius of the border to 6px and height to 200px for all images inside of all 
                 elements with a class of gallery 
*/
.gallery img{}
/* Challenge 12: When the visitor moves their mouse over images inside of the element with an id of firstGallery,
                 apply some type of styling using the filter( ) effect
*/
#firstGallery img:hover{
    filter:sepial(100%);
}

/* Challenge 13: When the visitor moves their mouse over images inside of the element with an id of secondGallery,
                 apply some other type of styling.
*/

/* Challenge 14: Change the transition for all elements to 1 second */